
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #B00707;
}

.container {
    text-align: center;
}


.logo {
  width: 200%; /* Define a largura como 50% da tela */
  max-width: 400px; /* Define um limite máximo */
  height: auto; /* Mantém a proporção */
}


@media (max-width: 768px) {
    .logo {
        max-width: 80%;
    }
}
